{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit {{ title }}
{% endblock %}

{% block body %}
    <form action="/edit" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <input class="form-control" name="title" value="{{ title }}" type="text">
        </div>
        <div class="mb-3">
            <label for="entry" class="label-control">Edit Markdown of {{ title }}:</label>
            <textarea id="entry" class="form-control" name="entry">{{ entry }}</textarea>
        </div>
        <div class="mb-3">
            <input type="submit" value="Save changes." class="button btn-primary">
        </div>
    </form>
{% endblock %}